<h3> The Histogram </h3>
<hr>

<!-- this doesn't work -->
<%= react_component("StackedBarChart", { data: data labels: url_labels }) %>

<div id="graph-container"></div>

<%= data %>

<h2> And the labels </h2>

<%= labels %>
